# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Flask instance folder
instance/

# Flask cache and coverage reports
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db